:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
  @apply text-black relative before:bg-black before:absolute before:h-[2px] before:block before:left-0 before:-bottom-[2px] before:w-full before:scale-0 hover:before:scale-100 before:transition-all before:duration-300;
}

.nav-link.nav-link--1 {
  @apply text-white relative before:bg-white;
}

.nav-link.active {
  @apply text-primary before:bg-primary font-semibold;
}

.nav-link.nav-link--1.active {
  @apply text-white before:bg-white;
}

.nav-menu {
  @apply list-none lg:hidden flex flex-col justify-center gap-8 fixed z-20 left-0 top-0 w-full min-h-screen bg-white text-black pt-[88px] transition-all duration-200 py-5 px-10;
}

.nav-menu.nav-menu--1 {
  @apply bg-primary text-white;
}

.nav-menu.active {
  @apply left-[100%];
}

